<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AnonAuton Hub GUI</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <script src="{{ url_for('static',filename='jquery-3.6.0.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>AnonAuton Hub GUI</h1>
        <form action="/transmit" method="post">
            <label for="message">Message</label>
            <input id="message" name="message" type="text">
            <label for="chair_num">Chair Number</label>
            <select name="chair_num" id="chair_num">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">ALL</option>
            </select>
            <input type="submit">
        </form>

        <form action="/transmit" method="post">
            <label for="message">Message</label>
            <input id="message" name="message" type="text">
            <label for="chair_num">Chair Number</label>
            <input id="chair_num" name="chair_num" type="radio">
            <label for="all_chairs">Send to all chairs?</label>
            <input id="all_chairs" name="all_chairs" type="checkbox">
            <input type="submit">
        </form>

        <div class="monitoring">
            <div class="chair_monitor_container">
                <div class="chair_monitor" id="1">
                    <h2>1</h2>
                    <button onclick="">STOP</button>
                </div>
                <div class="chair_monitor" id="2">
                    <h2>2</h2>
                    <button>STOP</button>
                </div>
                <div class="chair_monitor" id="3">
                    <h2>3</h2>
                    <button>STOP</button>
                </div>
                <div class="chair_monitor backup" id="backup">
                    <h2>backup</h2>
                </div>
            </div>
        </div>

        <div class="alert" id="battery-alert">
        <h2>Please change all batteries!</h2>
        <h3>
            <a href="https://google.com">How to change the battery</a>
        </h3>
        <form>
        <label for="1">1</label>
        <input id="1" name="1" type="checkbox">

        <label for="2">2</label>
        <input id="2" name="2" type="checkbox">

        <label for="3">3</label>
        <input id="3" name="3" type="checkbox">

    </form>
    <button id="battery-alert-close">Close</button>

</div>

        <!-- <button type=""></button> -->
        
        <script src="{{url_for('static', filename='index.js')}}" async defer></script>
    </body>
</html>