.monitoring {
    width: 100vw;
    height: 100vh;
}
.chair_monitor_container {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    align-content: center;
}
.chair_monitor {
    height: 100%;
    flex: 1;
    border: solid 1px;
    margin: 5px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.backup {
    border: dashed 1px;
}

.alert {
    background-color: orange;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}