<launch>
  <rosparam command="load" file="$(find config_manager)/configs/live/active.yaml"/>
  <rosparam command="load" file="$(find config_manager)/configs/ports/active.yaml"/>

  <include file="$(find obstacle_detector)/launch/components/antenna_chair.launch"/>
  <include file="$(find obstacle_detector)/launch/components/arduino.launch"/>
  <include file="$(find obstacle_detector)/launch/components/camera.launch"/>
  <include file="$(find obstacle_detector)/launch/components/lidar.launch"/>
  <include file="$(find obstacle_detector)/launch/components/queue.launch"/>

</launch>
