html {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

button {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

h1 {
    font-size: 1.5em; 
    text-align: center;
}

h2 {
    font-size: 1.5em; 
}

.floating_top_right {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    border: 1px solid gray;
    padding: 5px;
    text-align: right;
}

.statuses {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.chair_monitor {
    flex: 1;
    background-color: lightgray;
    text-align: center;
    border: 1px black solid;
    border-radius: 3px;
    margin: 2px;
}

.ghost {
    border: dashed;
}

.ghost.offline {
    background-color: lightgray;
}

.stuck {
    background-color: orange;
}

.registered {
    background-color: lightblue;
}

.chair_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.directions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auto {
    background-color: lime;
}

.stop {
    background-color: orangered;
}

.test_broadcast {
    background-color: yellow;
}

.clear_broadcast {
    background-color: magenta;
}

.r {
    background-color: turquoise;
}

.e {
    background-color: purple;
}

.s {
    background-color: greenyellow;
}

.Br {
    background-color: mediumaquamarine;
}

.Be {
    background-color: orange;
}

.Bs {
    background-color: greenyellow;
}

.Bf {
    background-color: red;
}

.Ss {
    background-color: red;
}

.Sn {
    background-color: greenyellow;
}

.Tt {
    background-color: red;
}

.Tm {
    background-color: greenyellow;
}

.f {
    background-color: red;
}

.o {
    background-color: red;
}

.H {
    background-color: orange;
}

.B {
    background-color: cyan;
}

.A {
    background-color: greenyellow;
}

.C {
    background-color: yellow;
}

.CAMERAy {
    background-color: greenyellow;
}

.LIDARy {
    background-color: greenyellow;
}

.CAMERAn {
    background-color: red;
}

.LIDARn {
    background-color: red;
}
.sidebyside {
    display: flex;
    flex-direction: row;
}

#cmd_config_form {
    display: flex;
    flex-direction: column;
}

.handwritten_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
}

.input {
    width: 50%;
    line-height: normal;
}

.submit_button {
    margin: 5px;
}

label {
    margin: 5px;
}

#toLiveScreen {
    /* background-color: cyan; */
}

#toConfigScreen {
    background-color: orange;
}

textarea {
    white-space: pre;
    width: 75%;
    /* height: 500px; */
    height:300px;
    background-color: orange;
}

#bottomCanvas {
    background-size: 100% 100%;
    filter: grayscale(100%);
    border: black solid 3px;
}

#canvas {
    z-index: 2;
    border: black solid 3px;

}

.wrapper {
    position: relative;
    width: 640px;
    height: 480px;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
}

#cameraSliders {
    display: flex; 
    flex-direction: column;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: limegreen;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeModal:hover,
  .closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.explanation {
    font-style: italic;
    color: #888;
}

#saveCmdToConfig {
    padding: 5px;
    margin-left: 5px;
    border: 2px solid #888;
}

.column {
    display: flex;
    flex-direction: column;
}

.buttons {
    margin: 10px;
}

.white {
    background-color: whitesmoke;
}

.green {
    background-color: lime;
}

#connectionModal {
    display: block;
}

h3 span:before {
    animation: dots 2s linear infinite;
    content: '';
  }

  @keyframes dots {
    0%, 20% {
      content: '.';
    }
    40% {
      content: '..';
    }
    60% {
      content: '...';
    }
    90%, 100% {
      content: '';
    }
}
/* Must be last */
.debug {
    display: block;
}
