<launch>
  <rosparam command="load" file="$(find config_manager)/configs/ports/active.yaml"/>
  <node name="chair_receiver" pkg="antenna" type="chair_receiver.py" respawn="true"/>
  <node name="chair_transmitter" pkg="antenna" type="chair_transmitter.py" respawn="true"/>
  <node name="chair_manager" pkg="antenna" type="chair_manager" respawn="true"/>
</launch>