<launch>
  <rosparam command="load" file="$(find config_manager)/configs/ports/active.yaml"/>
  <rosparam command="load" file="$(find config_manager)/configs/live/active.yaml"/>

  <node name="hub_receiver" pkg="antenna" type="hub_receiver.py"/>
  <node name="hub_transmitter" pkg="antenna" type="hub_transmitter.py"/>
  <node name="hub_manager" pkg="antenna" type="hub_manager"/>
</launch>