<launch>
  <rosparam command="load" file="$(find config_manager)/configs/live/active.yaml"/>
  <rosparam command="load" file="$(find config_manager)/configs/ports/active.yaml"/>
  <rosparam command="load" file="$(find config_manager)/configs/live/camera.yaml"/>

  <node name="cv_camera" pkg="cv_camera" type="cv_camera_node"  >
    <rosparam command="load" file="$(find config_manager)/configs/ports/active.yaml"/>
  </node>

  <node name="image_proc" pkg="image_proc" type="image_proc" ns="cv_camera" respawn="true" output="log">
  </node>

  <node name="eyes" pkg="eyes" type="new_processor"  >
  </node>

</launch>
